sudo: false
language: python

matrix:
  include:
    - python: 3.6
    - python: 3.5
    - python: 3.4
    - python: 3.3
    - python: 2.7
    - python: 2.6
    - python: nightly
    - python: pypy
    - python: pypy3

install:
  - pip install .
  - pip install pytest
  - pip install coverage
  - pip install codecov
  - pip install flake8
  - pip list

script:
  - echo "$TRAVIS_PYTHON_VERSION"
  - if [ "$TRAVIS_PYTHON_VERSION" != "2.6" ]; then flake8 prompt_toolkit; fi
  - coverage run -m pytest

after_success:
  - codecov
