language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"

install: 
  - pip install . pytest mock

script: py.test

notifications:
  webhooks:
    urls:
      - YOUR_WEBHOOK_URL
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
