pytest>=2.7.0
tox>=1.9.2
behave>=1.2.4
black>=23.3.0
pexpect==3.3; platform_system != "Windows"
pre-commit>=1.16.0
coverage>=5.0.4
codecov>=1.5.1
docutils>=0.13.1
autopep8>=1.3.3
twine>=1.11.0
wheel>=0.33.6
sshtunnel>=0.4.0
