pytest>=2.7.0
mock>=1.0.1
tox>=1.9.2
behave>=1.2.4
pexpect==3.3
pre-commit>=1.16.0
coverage==5.0.4
codecov>=1.5.1
docutils>=0.13.1
autopep8==1.3.3
click==6.7
twine==1.11.0
wheel==0.33.6
prompt_toolkit==3.0.5
